@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,400&display=swap');

html,
body {
	background-color: white;
	font-family: 'Rubik';
	font-weight: normal;
	/* background: linear-gradient(88.8deg, rgb(239, 171, 245) 13.4%, rgb(196, 181, 249) 76.3%); */
	background: rgb(27,18,118);
background: linear-gradient(148deg, rgba(27,18,118,1) 0%, rgba(21,32,71,1) 100%);
}
h1{
	margin-bottom: 1rem;
}
h2{
	margin-bottom: .5rem;
	font-weight: normal;

}

p{
	line-height: 1.5rem;
	font-weight: lighter;

}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	html {
	}
}
