.container{
	color: white;
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 100%;
	align-items: center;
}



.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2rem 4rem 0.8rem 4rem;
	gap: 2rem;
	margin-bottom: 4rem;
}



.header_container{
	margin-bottom: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo{
	width: 6rem;
	cursor: pointer;
}
.header_container h1{
	font-size: 64px;

}


.header_container h1 span{
	background: linear-gradient(140deg, rgba(54,190,255,1) 0%, rgba(115,63,241,1) 100%);
	background-clip: text;
	color: transparent;
}

.header_container p{
	font-size: 20px;

}

.header_container p span{
	color: #D73719;
	width: 197px;
height: 36px;


background: rgba(255, 255, 255, 0.08);
border-radius: 8px;
	padding: .5rem 1rem .5rem .5rem;
	margin-left: .3rem;
}


.buttonsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
  }
  .button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px 32px;
	gap: 12px;
	width: 392px;
	height: 76px;
	background: rgba(0, 0, 0, 0.8); /* Grayscale/Metal */
	border: 1px solid #4E4E4E;
	border-radius: 12px;
	cursor: pointer;
  }.button:hover,
  .button:focus {
	background-color: rgba(0, 0, 0, 0.6);
  }

.button p {

font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
}

